body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

.banner {
    display: flex;
    flex-direction: column;
}

.activities {
    display: flex;
    justify-content: center;
    align-content: center;
}

.info {
    display: flex;
}

.shop {
    display: flex;
}

footer {
    display: flex;
}