*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Verdana, sans-serif;
    scroll-behavior: smooth;
    background-color: #E5E7EB;
}

h1 {
    font-family: "Koh Santepheap", Georgia, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: black;
}

/*Multi-Page Section Display*/

.banner,
.activities,
.info,
.author,
.form-section {
    min-height: 500px;
    border-bottom: 7px solid black;
    display: flex;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Header Section*/

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d45d31; /*temp*/
}

    .logo {
        font-size: 12px;
        font-weight: 900;
        padding-left: 8px;
    }

    nav {
        margin-left: auto;
        padding-right: 5px;
        font-size: 10px;
    }

        .links {
            display: flex;
            list-style: none;
        }

            .links a {
                display: block;
                font-weight: bold;
                padding: 16px;
            }

            .links a:hover {
                background-color: #ffbc02;
                cursor: pointer;
            }



/*Index|Banner Section*/

.banner {
    background-image: url(banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat, repeat;
    flex-direction: column;
    text-align: right;
    padding-right: 8px;
    }

/*Index|Activities Section*/

.activities {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    }

    .activities h2 {
        font-size: 32px;
        padding: 16px;
    }

    .card-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        
    }

        .card {
            text-align: center;
            text-shadow: 2px black;
        }

            .card img {
                border: 3px solid black;
                border-radius: 25%;
                box-shadow: 2px 2px black;
                width: 200px;
                height: 200px;
            }

/*Index|PAG Info Section*/
        
.info {
    background-image: url(ooftrees.jpg);
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E5E7EB;
    text-shadow: 2px 2px black;
    gap: 10px;
}

    .info button {
        background-color: white;
        width: 200px;
        border-radius: 6px;
        font-weight: bold;
        padding: 10px;
    }

    .info button:hover {
        background-color: #2871f7;
    }

/*Index|Author Section*/

.author {
    justify-content: center;
    align-items: center;
    padding: 0;
}

    .author-container {
        width: 900px;
        background-color: white;
        border: 3px solid black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        margin: 30px;
        flex-shrink: 0;
    }

    .author img {
        width: 25%;
        border: 2px solid black;
        box-shadow: 2px 2px black;
        border-radius: 10px;
    }

    .author-card { 
        height: 200px;   
        background-color: #E5E7EB;
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: justify;
        padding: 8px;
    }

        .author-card h5 {
            text-align: right;
            margin-right: 10px;
        }

/* Footer Section */
    
footer {
    background-color: #cf592e; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

footer h5 {
    margin-right: auto;
}

footer a {
    text-decoration: none;
    color: black;
}

    .footer-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-right: auto;
        padding: 8px;
    }

/*Contact Page*/

.form-section {
    background-color: black;
    justify-content: center;
    align-items: center;
}

    form {
        background-color: white;
        display: flex;
        flex-direction: column;
        border: 5px solid #E5E7EB;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
    }

        form h3 {
            font-size: 24px;
            font-weight: 900;
            margin: 0;
        }

        form h5 {
            font-size: 18px;
            font-weight: 900;
            margin: 10px 0px;
        }

        .contact-card {
            display: flex;
            
        }

            .sender {
                display: flex;
                flex-direction: column;
            }

                .sender-name {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 0px 10px;
                    
                }

                    .sender-name input {
                        width: 300px;
                        height: 30px;
                    }

                .sender-email {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 0px 10px;
                    }

                    .sender-email input {
                        width: 300px;
                        height: 30px;
                    }

            .message {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 0px 10px;
            }

                .message input {
                    width: 500px;
                    height: 300px;
                }

        .contact-card button {
            background-color: #c8c8ee;
            padding: 10px;
            margin-top: 8px;
            border-radius: 10px;
        }

        .contact-card button:hover {
            background-color: cornflowerblue;
        }